.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
}

.inner {
    padding: 0 var(--default-layout-horizontal-spacer);
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
}

.actions-upload {
    font-weight: 600;
    padding: 5px 14px;
    margin-right: 10px;
}

.actions-btn {
    display: flex;
    background-color: transparent;
    font-size: 2.2rem;
    color: rgba(22, 24, 35, 1);
    padding: 4px 10px;
}

.more-btn {
    width: 20px;
    height: 20px;
    background-color: transparent;
    font-size: 2rem;
    margin-left: 1.6rem;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
